<!DOCTYPE html>
<html>
<head>
  <title>Bookatalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <hr>
  <p><%= flash[:notice] %></p>
  <hr>
<% end %>
<% if flash[:alert] %>
  <hr>
  <p>Error: <%= flash[:alert] %></p>
  <hr>
<% end %>

<%= yield %>

</body>
</html>
